/*Importé la dirección de google font para mejor tipo de letra*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Roboto:ital,wght@1,300&display=swap');
/* márgenes y rellenos para todos los elementos */
* {

   /* Cambiar el modelo de caja para que el tamaño total incluya el relleno y el borde */
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
}


/* Establecer una fuente y color de texto predeterminados */
body {
   /* Configurar la fuente principal para el texto en el cuerpo del documento */
   font-family: Arial, sans-serif;

   /* Establecer el tamaño de fuente predeterminado para el cuerpo del documento */

   /* Definir la altura de línea, que es la distancia entre líneas de texto */
   line-height: 1.6;

   /* Configurar el color del texto predeterminado en un tono de gris */
   color: #333;

   /* Establecer el color de fondo del cuerpo del documento en blanco */
   background-color: #fff;
}


/** PARA EL HEADER DE TODAS LAS PAGINAS **/
header {
   margin: 3%;
}

p, h1, h2, h3, h4, h5, h6 {
   margin-right: 2%;
   margin-left: 2%;
}

/* Estilos para las imágenes */
/*img {width: 100%;height: auto;}*/


/* Si es necesario agregar estilos diferentes para adaptarlo a cada dispositivo dentro de cada @media */
/* Estilos para pantallas grandes (escritorio) */
@media (min-width: 1024px) {
   /* Estilos específicos para pantallas grandes */
   body {
   font-size: 16px;}
   
}

/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 1023px) {
   /* Estilos específicos para pantallas medianas */
   body {
   font-size: 16px;}
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
   /* Estilos específicos para pantallas pequeñas */
   body{
   font-size: 14px;}

}


/* Estilo generales */

/* Estilo para el contenedor del carrusel */
.container mt-5 {
   text-align: center;
}

/* Estilo para la imagen en el carrusel */
.carousel-img {
   width: 800%; /* Tamaño deseado del ancho de la imagen */
   display: block;
   margin: 0 auto; /* Centrar horizontalmente la imagen */
}


.color-fondo-carrucel{
   margin-top: 5%;
   margin-bottom: 5%;
   background-color: rgb(0, 0, 0);
}

.item img {
   margin-top: 5%; 
}